.formHeader{
    width: 100%;
    text-align: center;
}
.registrationForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: relative;
    left: 25%;
}
.labeledField{
    margin-top: 5%;
}
.fieldLable{
    display: block;
    text-align: center;
    line-height: 150%;
}
.inputField{
    width: 100%;
}
.labledCheckbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#regiterButton {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    width: 30%;
    height: 10%;
    height: 2.5rem;
    align-self: center;
    margin-top: 3%;
}

#regiterButton:hover {
    background: #B9DFFF;
    color: #666363;
}